#Home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 80px;
    padding-right: 80px;
}

.card-group{
    height: 35rem;
    width: 20rem;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid #cce7d0;
    border-radius: 4px;
    margin: 20px 0px;
    transition: 0.3s ease;
}

.card-group:hover{
    color: orange;
}

img{    
    height: 20rem;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.card{
    border-radius: 15px;
}
.hire-button{
    font-size: 18px;
    font-weight: 600;
    padding: 10px 30px;
    color: rgb(0, 0, 0);
    background-color: #589e9b;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

.hire-button:hover{
    box-shadow: 10px 10px 44px rgba(0, 0, 0, 0.3);
    background: rgb(6, 46, 83);
    color: #ffffff;
}



